<div class="flex">
   
    <div class="flexrow">
        <select class="desp1"name="trainers">
            <option hidden selected>Select a Trainer</option>
            <option value="aceituna">Aceitunas</option>
            <option value="tomate">Tomate</option>
            <option value="cebolla">Cebolla</option>
            <option value="salchica">Salchicha</option>
            <option value="peperoni">Peperoni</option>
            <option value="jamon">Jamon</option>
          </select>
          <input type="text" class="desp2 searchbar" [(ngModel)]="searchName">
          <p>{{searchName}}</p>
          <!-- <select class="desp2" name="pokemons">
            <option hidden selected>Type the name of a Pokemon</option>
            <option value="aceituna">Aceitunas</option>
            <option value="tomate">Tomate</option>
            <option value="cebolla">Cebolla</option>
            <option value="salchica">Salchicha</option>
            <option value="peperoni">Peperoni</option>
            <option value="jamon">Jamon</option>
          </select> -->
          <button (click)="searchPoke(searchName)">search POKEMON</button>
          <button>ADD POKEMON</button>
    </div>

    <section class="box">
      <div>
       <div>
        
       </div>
            <div>
           <!-- <div *ngFor="let poke of pokeObjList; let i = index"> -->
          <div>{{pokeObj.name}}</div>
          <img height="50px" src={{pokeObj.image}} alt=""> 
           
              <!-- <app-card-pokedex [pokemon]="pokeObj"  [index]="i" >
                  
              </app-card-pokedex> -->
          </div> 
      </div>
  
  </section>
    
</div>
