<div class="flex">
  <div class="flexcenter"><p class="title">T E A M S</p></div> 
  <div class="flexrow ">
    
    <select [(ngModel)]="trainerName" class="desp1"name="trainers" >
      <option hidden selected>Select a Trainer</option>
      <option *ngFor="let trainerObj of trainerList" value="{{trainerObj.username}}">
        {{trainerObj.username}}
      </option>
    </select>
    <!-- <select [(ngModel)]="searchName" class="desp2" name="pokemons" >
      <option hidden selected>Select Pokemon</option>
      <option *ngFor="let pokename of pokeNameList" value="{{pokename}}">
        {{pokename}}
      </option>
    </select> -->
    
    <input class="desp" class="desp2" type="search" [(ngModel)]="searchName" name="pokemon" list="pokemonlist" placeholder="Select a Pokemon" [(ngModel)]="searchName">
    <datalist id="pokemonlist" class="desp2">
      <option *ngFor="let pokename of pokeNameList" value="{{pokename}}">
        {{pokename}}
      </option>
    </datalist>

      <button (click)="searchAddPoke(trainerName, searchName)">ADD POKEMON</button>
  </div>

  <div class="box container">
    <app-team-card class="try" *ngFor="let trainerObj of trainerList" [refresher]="refreshListen.asObservable()"    [trainer]="trainerObj"></app-team-card>
  </div>
    
</div>
