<div class="flex">
    <div class="flexcenter"><p class="title">P O K E D E X</p></div> 
   
    <div class="flexrow">
        <input class="desp" type="search" name="pokemon" list="pokemonlist" placeholder="Select a Pokemon">
        <datalist id="pokemonlist">
            <option value="aceituna">
            <option value="tomate">
            <option value="cebolla">
            <option value="salchica">
            <option value="peperoni">
            <option value="jamon">
        </datalist>
        
       
        <button><img class ="lupa"src="http://assets.stickpng.com/images/59cfc4d2d3b1936210a5ddc7.png" alt="icono"><p>SEARCH POKEMON</p> </button>
    </div>
    

    <section class="box">
        <div>
         <div>
          
         </div>
<div class ="poke-cards">
            <div class="card-wrapper" *ngFor="let poke of pokeObjList; let i = index">
            <!-- <div>{{poke.name}}</div>
            <img height="50px" src={{poke.image}} alt=""> -->
            
                <app-card-pokedex [pokedex]="poke"  [index]="i" ></app-card-pokedex>
            
            </div>
            </div> 
            <button  *ngIf="next!=null" (click)="getNext()"><img src="https://pngroyale.com/right-arrow-transparent-background-png/" alt="arrow">Next</button>
            <button *ngIf="previous!=null" (click)="getPrevious()">get previous</button>
            
        </div>
  
    
    </section>
    
</div>

