<div class="flex">
    <div class="flexcenter"><p class="title">T R A I N E R S</p></div> 
    <div class="flexrow">
        <button *ngIf="option == false" (click)="addTrainerCardShow()">ADD NEW TRAINER</button>
        <button *ngIf="option == true" (click)="addTrainerCardHide()">ADD NEW TRAINER</button>
    </div>
    <div *ngIf="option == true"><app-add-trainer (addTrainerEvento)="addTrainers($event)"></app-add-trainer></div>
</div>
<div class="container">

    <div *ngFor="let x of trainersList; let i = index">
        <app-card-trainer c  [trainer]= "x" [index]="i" (trainerDeletedEvento)="deleteTrainerPadre($event)"></app-card-trainer>
        
    </div>

</div>
