<div class="card">
    <div class="card-title">
        <img class="image-card" height="50px" src={{pokedex.image}} alt="">
        <div class="poke-name" (click)= "showDetails()">{{pokedex.name}}</div>
        </div>
        
    
    <div class="poke-details" *ngIf="isShown">
         <p> HP: {{pokedex.hp}}</p>
         <p> Attack: {{pokedex.attack}}</p>
         <p> Defence: {{pokedex.defence}}</p>
         <p> Special Attack: {{pokedex.spAttack}}</p>
         <p> Special Defence: {{pokedex.spDefence}}</p>
         <p> Speed: {{pokedex.speed}}</p>
</div>



