.card {
    width: 200px;
    margin: 1rem; 
    background-color:#0016b0;
    color:#FFCB05;
    padding: 1.5rem; 
    align-items:center;
    border-radius: 2%;
    flex-direction: row;
	flex-wrap: wrap;
    font-size: 20px;
    justify-content: center; 
   
}
.card:hover{
    background-color: #FFCB05;
    color:#0016b0;
    cursor: pointer; 
    
}


.image-card{
    width:100px;
    margin-bottom: 20px;
}

.card-title {
    display: flex;
    flex-direction: column;
   align-items: center;
}
.content {
    animation-duration: 3s;
    animation-name: animation;
    animation-iteration-count: 1;
   
  }
  
  .content-1 {
    animation-delay: 0.5s; 
  }
  @keyframes animation {
    from {
      margin-top: 100%;
      width: 300%;
    }
  
    to {
      margin-top: 0%;
      width: 100%;
    }
  }

  .poke-details {
    background-color: #CC0000;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 10px;
  }

  
